body {
    background-color:  lightgrey;
    margin:0px; padding: 0px;
  }

 h1{
  text-align: center;
 } 

 li{
  margin-top: 50px;
 }

 #ett{
  text-align: center;
 }

 #två{
  text-align: center;
 }

 #tre{
  text-align: center;
 }

 #fyra{
  display: block;
  margin-left: auto;
margin-right: auto;
width: 50%;
 }

 /* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}



.navbar{
  text-align: center;
}

img{
  float: center;
}

p{
  text-align: center;
}




